.aboutme-container {
    .aboutme-section {
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 20px;
            margin-top: 50px;
          h4 {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            color: #0050ff;
            font-size: 40px;
            margin: 0;
            margin-top: 80px; 
            margin-bottom: 20px;
          }  
          span {
            height: 0.5px;
            width: 150px;
            background-color: white;
          }
        }
        .desc {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 200px;
          width: 1040px;
          margin: auto;
          margin-top: 80px;
          p {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            color: white;
            text-align: justify;
            font-size: 16px;
            line-height: 1.8;
            margin: 0;
          }
        }
    }

    .qoute-section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      margin: auto;
      margin-top: 100px;
      width: 1040px;
      .img {
        background-color: white;
        padding: 20px;
      }
        .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          .qoute-icon {
            color: #0050ff;
            font-size: 100px;
           }
           .qoute-content {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            line-height: 1.8;
            color:white;
            width: 400px;
            p {
              font-size: 16px;
            }
           }
           .aurthor {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            color: white;
            border-top: 1px solid #aaa;
           }
        }
        .img {
          width: 250px;
          img {
            max-width: 100%;
          }
        }
      }
      .why-me-section {
        display: flex;
        flex-direction: column;
        width: 1040px;
        margin: auto;
        margin-top: 50px;
        gap: 50px;

        .title {
          h4 {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            font-weight: 900;
            text-transform: uppercase;
            color: #0050ff;
          }
          span {
            height: 0.5px;
            width: 150px;
             background-color: white;
          }
        }
        .info {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
          gap: 200px;
          .content {
            p {
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              text-align: justify;
              line-height: 1.8;
              color: white;
              font-size: 16px;
            }
          }
        }
      }
      .what-i-do {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 1040px;
        margin: auto;
        .title {
          
          h4 {
            font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            color: #0050ff;
          }
          span {
            height: 0.5px;
            width: 150px;
            background-color: white;
          }
        }
        .jobs {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;
          gap: 60px;
          margin-top: 50px;
          .job-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 311px;
            .img {
              background-color: white;
              padding: 20px;
              margin-bottom: 30px;
              img {
                max-width: 100%;
              }
            }
            .title {
              width: 300px;
              height: 60px;
              background-color: #0050ff;
              margin: 20px 0;
              h5 {
                color: white;
                font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
                font-size: 30px;
                font-weight: 900;
                text-transform: uppercase;
                margin: 0;
              }
            }
            .desc {
              width: 311px;
              margin: 0;
              p {
                color: white;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-transform: capitalize;
                text-align: justify;
              }
            }
          } 
        }
      }

      .project-section {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
          margin-bottom: 60px;
          span {
            height: 0.5px;
            width: 150px;
            background-color: white;
          }
        }
        .projects {
          position: relative;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-wrap: wrap;
          width: 1040px;
          .project-first-row {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 15px;
            margin-bottom: 50px;
            .project-horezental {
              position: relative;
              display: flex;
              align-items: flex-end;
              justify-content: center;
              width: 346.67px;
              height: 353.97px;
              overflow: hidden;
              transition: all ease 0.5s;
              &:hover {
                box-shadow: 10px 9px 39px -8px rgba(0, 0, 0, 0.52);
              }
              &:hover .info-horezental {
                opacity: 1;
              }
              .img {
                width: 346.7px;
                cursor: pointer;
                filter: grayscale(1);
                transform: scale(1);
                transition: all ease 0.5s;
                overflow: hidden;
                &:hover {
                  filter: grayscale(0);
                  transform: scale(1.2);
  
                }
                img {
                  max-width: 100%;
                }
              }
            }
            .info-horezental {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #151515;
              color: #0050ff;
              z-index: 100;
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              text-transform: uppercase;
              font-weight: 900;
              width: 200px;
              bottom: 0%;
              left: 28%;
              opacity: 0;
              transition: all ease 0.5s;
              p {
                font-size: 30px;
                margin: 0;
              }
            }
            .project-vertical {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 346.67px;
              height: 285px;
              overflow: hidden;
              transition: all ease 0.5s;
              &:hover {
                box-shadow: 10px 9px 39px -8px rgba(0, 0, 0, 0.52);
              }
              &:hover .info-vertical {
                opacity: 1;
              }
              .img {
                width: 346.67px;
                cursor: pointer;
                filter: grayscale(1);
                transform: scale(1);
                transition: all ease 0.5s;
                overflow: hidden;
                &:hover {
                  filter: grayscale(0);
                  transform: scale(1.2);
  
                }
                img {
                  max-width: 100%;
                }
              }
            }
            .info-vertical {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #151515;
              color: #0050ff;
              z-index: 100;
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              text-transform: uppercase;
              font-weight: 900;
              width: 200px;
              bottom: 0%;
              left: 28%;
              opacity: 0;
              transition: all ease 0.5s;
              p {
                font-size: 30px;
                margin: 0;
              }
            }
          }
          .project-second-row {
            position: absolute;
            top: 75%;
            left: -1.5%;
            display: flex;
            gap: 15px;
            align-items: flex-end;
            justify-content: center;
            .project-horezental {
              position: relative;
              display: flex;
              align-items: flex-end;
              justify-content: center;
              width: 346.67px;
              height: 353.97px;
              overflow: hidden;
              transition: all ease 0.5s;
              &:hover {
                box-shadow: 10px 9px 39px -8px rgba(0, 0, 0, 0.52);
              }
              &:hover .info-horezental {
                opacity: 1;
              }
              .img {
                width: 346.7px;
                cursor: pointer;
                filter: grayscale(1);
                transform: scale(1);
                transition: all ease 0.5s;
                overflow: hidden;
                &:hover {
                  filter: grayscale(0);
                  transform: scale(1.2);
  
                }
                img {
                  max-width: 100%;
                }
              }
            }
            .info-horezental {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #151515;
              color: #0050ff;
              z-index: 100;
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              text-transform: uppercase;
              font-weight: 900;
              width: 200px;
              bottom: 0%;
              left: 28%;  
              opacity: 0;
              transition: all ease 0.5s;
              p {
                text-align: center;
                font-size: 30px;
                margin: 0;
              }
            }
            .project-vertical {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 346.67px;
              height: 285px;
              overflow: hidden;
              transition: all ease 0.5s;
              &:hover {
                box-shadow: 10px 9px 39px -8px rgba(0, 0, 0, 0.52);
              }
              &:hover .info-vertical {
                opacity: 1;
              }
              .img {
                width: 346.67px;
                cursor: pointer;
                filter: grayscale(1);
                transform: scale(1);
                transition: all ease 0.5s;
                overflow: hidden;
                &:hover {
                  filter: grayscale(0);
                  transform: scale(1.2);
  
                }
                img {
                  max-width: 100%;
                }
              }
            }
            .info-vertical {
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #151515;
              color: #0050ff;
              z-index: 100;
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              text-transform: uppercase;
              font-weight: 900;
              width: 200px;
              bottom: 0%;
              left: 28%;
              opacity: 0;
              transition: all ease 0.5s;
              p {
                font-size: 30px;
                margin: 0;
              }
            }
          }
        }
      }
      .testimonials-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 80px;
        width: 1040px;
        margin: auto;
        .testimonials {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          margin-top: 80px;
          gap: 70px;
          .testimonial {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 300px;
            height: 382px;
            .img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              overflow: hidden;
              img {
                max-width: 100%;
              }
            }
          }
          .info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 300px;
            .name {
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              text-transform: capitalize;
              font-weight: 900;
              font-size: 30px;
              margin: 0;
              margin-top: 20px;
              color: white;
            }
            .job-title{
              font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
              color: #0050ff;
              font-weight: 900;
            }
            .message {
              text-align: justify;
              color: white;
            }
          }
          .message-icon {
            color: #0050ff;
            font-size: 30px;
          }
        }
      }
      .clients-section {
        margin-top: 80px;
        margin-bottom: 140px;
        .title {
          margin-bottom: 50px;
        }
      }
}