.single-project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .path {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        .home {
            a {
                text-decoration: none;
                color: white;
                transition: all ease 0.5s;
                &:hover {
                    color: #0050ff;
                }
            }
        }
        .arrow {
            color: white;
        }
        .projects-page {
            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: bold;
                transition: all ease 0.5s;
                &:hover {
                    color: #0050ff;
                }
            }
        }
        .single-project-page {
            a {
                text-decoration: none;
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: bold;
                transition: all ease 0.5s;
                &:hover {
                    color: #0050ff;
                }
            }
        }
    }
    .our-challenge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1000px;
        margin-top: 120px;
        .info {
            h4 {
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
            }
            p {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-align: justify;
                font-size: 18px;
            }
        }
    }
    .our-approach {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 1000px;
        margin-top: 80px;
        .info {
            h4 {
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
            }
            p {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-align: justify;
                font-size: 18px;
            }
        }
        .img {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .info-02 {
            p {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-align: justify;
                color: white;
                font-size: 18px;
            }
        }
    }
    .creative-concept {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 1000px;
        margin-top: 80px;
        .info {
            h4 {
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
            }
            p {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-align: justify;
                font-size: 18px;
            }
        }
        .img {
            margin-top: 50px;
        }

    }
    .communications {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 1000px;
        margin-top: 80px;
        
        .info {
            h4 {
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
            }
            span {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-size: 25px;
                margin-top: 20px;
            }
            p {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-align: justify;
                font-size: 18px;
            }
        }
        .img {
            margin-top: 50px;
        }

    }
    .cards {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        margin-top: 50px;
        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 280px;
            height: 500px;
            background-color: white;
            padding: 20px;
            .img {
                img {
                    max-width: 100%;
                }
            }
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                p {
                    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                    color: #151515;
                    text-transform: uppercase;
                   
                    font-size: 17px;
                    margin: 0;
                }
                span {
                    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                    color: #151515;
                    text-transform: uppercase;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 15px;
                }
            }
            .desc {
                p {
                    color: #151515;
                    font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                    text-align: justify;
                }
            }
        }
    }
    .interactive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 1000px;
        margin-top: 80px;
        .info {
            h4 {
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
            }
            span {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-size: 25px;
                margin-top: 20px;
            }
            p {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-align: justify;
                font-size: 18px;
            }
        }
        .img {
            margin-top: 50px;
        }

    }
    .advertorial {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 1000px;
        margin-top: 80px;
        .info {
            h4 {
                color: #0050ff;
                text-transform: uppercase;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: 900;
                font-size: 40px;
                margin: 0;
            }
            span {
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-size: 25px;
                margin-top: 20px;
            }
            a {
                text-decoration: none;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                color: #0050ff;
                text-transform: capitalize;
                background-color: white;
                border: 3px solid white;
                font-weight: 600;
                font-size: 25px;
                padding: 10px;
                margin-top: 40px;
                transition: all ease 0.5s;
                &:hover {
                    background-color: transparent;
                    border: 3px solid #0050ff;
                    color: white;
                }
            }
        }
        .img {
            margin-top: 50px;
        }

    }
}