.footer-container{
    position: fixed;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: #191a1c;
    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        a {
            text-decoration: none;
            color: white;
            .icon {
                color: white;
                font-size: 20px;
                transition: all ease .5s;
                &:hover {
                    color: #0050ff;
                }
            }
        }
    }
    .mail {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
            a {
                text-decoration: none;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                color: white;
                transition: all ease .5s;
                &:hover {
                    color: #0050ff;
                }
            }
            .up-button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid white;
                cursor: pointer;
                transition: all ease 0.5s;
                &:hover {
                    border: 1px solid #0050ff;
                    background-color: #0050ff;
                }
                }
                .up-icon {
                    color: white;
                    font-size: 11px;
                    transition: all ease 0.5s;
                }
            }
        
    }
