.banner-container {
background-image: url(../../assets/Reem-Dissoky.jpg);
height: 80vh;
background-size:cover;
    .info {
        padding-top: 300px;
        padding-left: 200px;

        h3 {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            text-transform: capitalize;
            color: black;
            font-weight: bold;
            font-size: 30px;
            margin: 0;

        }
        h2 {
            .Typewriter  {
                color: white;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                font-size: 64px;
                text-transform: uppercase;
                font-weight: 800;
            }
            
        }
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;
            margin-top: 100px;
            .resume {
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: white;
              padding: 10px;
              border-radius: 5px;
              transition: all ease 0.5s;
              border: 1px solid white;
              width: 100px;
              cursor: pointer;
              &:hover {
                background-color: transparent;
              }
              &:hover a {
                color: white;
              }
              a {
                text-decoration: none;
                color: #0050ff;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 900;
              }
            }
            .project {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100px;
              background-color: white;
              padding: 10px;
              border-radius: 5px;
              transition: all ease 0.5s;
              cursor: pointer;
              border: 1px solid white;
              &:hover {
                background-color: transparent;
              }
              &:hover a {
                color: white;
              }
              a {
                text-decoration: none;
                color: #0050ff;
                font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 900;
              }
            }
          }
       
    }


 
}