.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
        
    .swiper-button-next::after  {
        font-weight: 900;
    } 
    .swiper-button-prev::after{
        font-weight: 900;
    }

    .swiper-scrollbar-drag {
        background-color: #0050ff;
    }
    .slider-title {
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h4 {
            font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            color: #0050ff;
            font-size: 40px;
            margin: 0;
            margin-top: 80px;
            margin-bottom: 20px;
        }
        span {
            
            background-color: white;
            width: 150px;
            height: 0.5px;
        }
    } 
    .slide {
        overflow: hidden;
        width: 300px;
        .img {
            transform: scale(1);
            transition: all ease 0.5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
                
            }
            &:hover img {
                filter: grayscale(0);
            }
            img {
                max-width: 100%;
                filter: grayscale(1);
                transition: all ease 0.5s;
            }
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: white;
        h5 {
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            text-transform: capitalize;
            font-weight: bold;
            margin: 0;
            margin-top: 40px;
            font-size: 25px;
        }
        p {
            text-align: justify;
            font-family: 'Nunito Sans', Arial, Helvetica, sans-serif ;
            line-height: 1.8;
            font-size: 12px;
        }
    }
}


